<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SignaBSG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SignaBSG.Properties.Settings>
            <setting name="TemaActual" serializeAs="String">
                <value>Sistema</value>
            </setting>
            <setting name="Licencia" serializeAs="String">
                <value>Ngo9BigBOggjHTQxAR8/V1JEaF5cXmRCeUx3Q3xbf1x1ZFRMY15bRnJPIiBoS35Rc0VkWXZfc3dXRGRYVkdzVEFd</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://localhost:7182/api/v1/Signer/SignDocument</value>
            </setting>
        </SignaBSG.Properties.Settings>
    </userSettings>
</configuration>